body {
  margin: 0;
  padding: 0;
  background: rgb(225, 226, 225);
}

.container {
  width: 100%;
}

.header {
  height: 75px;
  width: 100%;
  background-color: #2196f3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.footer {
  position: fixed;
  bottom: 0;
  height: 75px;
  width: 100%;
  background-color: #2196f3;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
}

#clock-container {
  margin: 180px auto 50px;
  height: 250px;
  width: 400px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#seconds {
  margin: auto;
  width: 100%;
  color: black;
  font-family: sans-serif;
  font-size: 100px;
  line-height: 250px;
  text-align: center;
}

#start {
  display: block;
  margin: 5px auto;
  height: 5vw;
  width: 5vw;
  background-color: #2196f3;
  border: none;
  border-radius: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #000;
  outline: none;
  font-size: 1.5vw;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
